// HEADER CONTAINER - JUMBOTRON
.jumbotron{
  background: $purple;
  @include set_border_radius(0);
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  @include breakpoint(xs){
    h1{
      margin-left: -15px;
    }
  }
}

// FORM
.form-group{
  margin-bottom: 0;
}
form{
  margin-top: 2rem;
  label{
    display: block;
    margin: 0 0 5px 0;
    font-size: 1.25rem;
    line-height: 1.5;
    color: $text_colour;
  }
  .form-control{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 10px;
    margin-left: 0;
  }
  textarea.form-control, input.form-control{
    border: 1px solid $divider_colour;
    font-size: 1.2rem;
    &:focus{
      border-color: $divider_colour;
      box-shadow: none;
      outline: $divider_colour solid 5px;
    }
    &.error{
      @extend :focus;
      border: 2px solid $error_red;
      outline: none;
    }
  }
}

// DROPDOWN
.custom-select{
  @include set_border_radius(0);
  border: 1px solid $divider_colour;
  height: 52px;
  font-size: 1.2rem;
  background-image:
    linear-gradient(45deg, transparent 50%, $text_colour 50%),
    linear-gradient(135deg, $text_colour 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  &:focus{
    border-color: $divider_colour;
    box-shadow: none;
    outline: $divider_colour solid 5px;
    outline-offset: -2px;
  }
  &.error{
    @extend :focus;
    border: 2px solid $error_red;
    outline: none;
  }
}

// TABLE
.table{
 thead{
   tr th{
     border-bottom: none;
     border-top: none;
   }
 }
 tbody{
   tr:nth-child(odd){
     background: $table_cell_background;
   }
   tr td{
     border-top: none;
   }
 }
}

// ERROR MESSAGES
p.error-message, ul.example{
  display: none;
  color: $error_red;
}

// BUTTON
button.btn-primary{
  cursor: pointer;
  margin-top: 4rem;
}
.btn-primary{
  background: $light_blue;
  border-color: transparent;
  font-size: 1.25rem;
  line-height: 1.5;
  &:visited{
    color: $white;
  }
  &:hover{
    background-color: $dark_blue;
    border-color: $dark_blue;
    text-decoration:none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }
  &:focus, &:active{
    border: 1px solid $dark_blue;
    background-color: $light_blue;
    color: $white;
    transition:none;
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
  }
}

// RESULT CONTAINER
#result{
  display:none;
}

// FOOTER
footer{
  border-top: 1px solid $divider_colour;
  background-color: $grey_background;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 10px;
  margin-top: 120px;
  margin-bottom:0;
  p{
    font-size: 1rem;
  }
}
