// COLOURS
$purple: #373151;
$white: #fff;
$grey_background: #f8f7f7;
$text_colour: #4d4d4d;
$divider_colour: #CAC9CD;
$focus_green: #96dcbe;
$light_blue:#2b57ab;
$dark_blue:#214282;
$table_cell_background: #EBE9E8;