@font-face {
  font-family: National;
  font-display: swap;
  src: url(https://static.parliament.uk/assets/National-LFSN-BookWeb.woff2) format("woff2"), url(https://static.parliament.uk/assets/National-LFSN-BookWeb.woff) format("woff");
}

@font-face {
  font-family: National;
  font-display: swap;
  src: url(https://static.parliament.uk/assets/National-LFSN-Book-ItalicWeb.woff2) format("woff2"), url(https://static.parliament.uk/assets/National-LFSN-Book-ItalicWeb.woff) format("woff");
  font-style: italic;
}

@font-face {
  font-family: National;
  font-display: swap;
  src: url(https://static.parliament.uk/assets/National-LFSN-SemiboldWeb.woff2) format("woff2"), url(https://static.parliament.uk/assets/National-LFSN-SemiboldWeb.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: National;
  font-display: swap;
  src: url(https://static.parliament.uk/assets/National-LFSN-Semibold-ItalicWeb.woff2) format("woff2"), url(https://static.parliament.uk/assets/National-LFSN-Semibold-ItalicWeb.woff) format("woff");
  font-weight: 500;
  font-style: italic;
}

/*MIXINS*/
/*Media Queries*/
/*bootstrap breakpoints*/
html {
  font-size: 100%;
}

body {
  background: #f8f7f7;
  font-family: National,Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #4d4d4d;
}

h1 {
  font-size: 2.75rem;
  line-height: 45px;
  color: #fff;
}

h2 {
  font-size: 2.0625rem;
  line-height: 36px;
  color: #373151;
  margin-top: 42px;
  margin-bottom: 18px;
}

p {
  font-size: 1.25rem;
  line-height: 30px;
  margin-top: 24px;
  color: #4d4d4d;
}

.jumbotron {
  background: #373151;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .jumbotron h1 {
    margin-left: -15px;
  }
}

.form-group {
  margin-bottom: 0;
}

form {
  margin-top: 2rem;
}

form label {
  display: block;
  margin: 0 0 5px 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #4d4d4d;
}

form .form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 10px;
  margin-left: 0;
}

form textarea.form-control, form input.form-control {
  border: 1px solid #CAC9CD;
  font-size: 1.2rem;
}

form textarea.form-control:focus, form input.form-control:focus {
  border-color: #CAC9CD;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: #CAC9CD solid 5px;
}

form textarea {
  resize: vertical;
}

.custom-select {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: 1px solid #CAC9CD;
  height: 52px;
  font-size: 1.2rem;
  background-image: linear-gradient(45deg, transparent 50%, #4d4d4d 50%), linear-gradient(135deg, #4d4d4d 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.custom-select:focus {
  border-color: #CAC9CD;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: #CAC9CD solid 5px;
  outline-offset: -2px;
}

.table.default-table thead tr th {
  border-bottom: none;
  border-top: none;
}

.table.default-table tbody tr:nth-child(odd) {
  background: #EBE9E8;
}

.table.default-table tbody tr td {
  border-top: none;
}

footer {
  border-top: 1px solid #CAC9CD;
  background-color: #f8f7f7;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}

footer p {
  font-size: 1rem;
}

button {
  cursor: pointer;
  margin-top: 5rem;
}

.btn-primary {
  background: #2b57ab;
  border-color: transparent;
  font-size: 1.25rem;
  line-height: 1.5;
}

.btn-primary:visited {
  color: #fff;
}

.btn-primary:hover {
  background-color: #214282;
  border-color: #214282;
  text-decoration: none;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.btn-primary:focus, .btn-primary:active {
  border: 1px solid #214282;
  background-color: #2b57ab;
  color: #fff;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

#optional-fields-container {
  display: none;
}

.form-check-label {
  font-size: 1.25rem;
  margin-left: 23px;
  margin-top: 8px;
}

input[type=checkbox] {
  position: absolute;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
  border: 2px solid #CAC9CD;
  background-color: white;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 10px;
  height: 18px;
  border: solid #4d4d4d;
  border-width: 0 4px 4px 0;
  position: relative;
  top: 8px;
  left: 14px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*# sourceMappingURL=styles.css.map */